@using Eticaret.Model;
@model Product

@{
    ViewData["Title"] = "Yeni Ürün Oluştur";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Yenü Ürün Bilgileri</div>
                </div>
                <div class="card-body">
                    <form asp-action="New" asp-controller="Product" method="post">
                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(m=>m.Name, new { @class="form-label" })
                            @Html.TextBoxFor(m=>m.Name, new { @class="form-control" })
                        </div>

                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(m=>m.Price, new { @class="form-label" })
                            @Html.TextBoxFor(m=>m.Price, new { @class="form-control" })
                        </div>

                        <div>
                            <button class="btn btn-primary">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>