@model Eticaret.Model.Register;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Kayıt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hemen Şimdi Üye Ol</div>
                    </div>
                    <div class="card-body">
                        <form>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-primary">Kaydol</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>